/* @override 
	http://localhost:3000/stylesheets/theme.css */

body {
	padding-top: 50px;
}

.kruser-home .jumbotron {
	margin-bottom: 0;
}
.kruser-home {
	background: url('/images/ball.svg') #eee;
	background-size: 100%;
}
.kruser-home .jumbotron.off {
	background: rgba(255, 255, 255, .97)
}
.kruser-home a[class^="icon-"] {
	margin-right: .2em;
}
.kruser-home a[class^="icon-"]:hover {
	text-decoration: none;
}
