<!doctype html>
<html>
<% include includes/head %>
<body ng-app="pitchfx">
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Pitchfx.org</a>
				<button ng-click="openMenu = !openMenu" type="button"
					data-toggle="collapse" data-target="#navbar-main"
					class="navbar-toggle">
					<span class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" ng-class="{'in':openMenu}"
				class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a href="/#issues">Got Issues?</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div ng-app="home" class="kruser-home">
		<div ng-controller="searchController" class="jumbotron off">
			<div class="container">
				<h1>
					Player Search<input ng-model="playerSelection"
						typeahead-wait-ms="200" typeahead-loading="playersLoading"
						typeahead="player as player.getFullName() for player in searchPlayers($viewValue)"
						typeahead-on-select="playerSelected()" type="text"
						placeholder="Search for a player by name" class="form-control">
				</h1>
			</div>
		</div>
		<div id="about" class="jumbotron on">
			<div class="container">
				<h2>Research, Learn, Report</h2>
				<p>
					We allow you to search through any player's pitches and at-bats
					with quick facets on things like <strong>batted ball
						angles, pitch speed, pitch types, hit type</strong>, and many others.
				</p>
			</div>
		</div>
		<div id="how" class="jumbotron off">
			<div class="container">
				<h2>The Data</h2>
				<p>
					Using the <a href="https://github.com/kruser/atbat-mongodb"
						target="_blank">atbat-mongodb</a> project, we pull pitch and
					at-bat data from each day's baseball games and store it in our own
					MongoDB database.
				</p>
				<p>Data from each day will be available by 6AM EST on the
					following day.</p>
			</div>
		</div>
		<div id="issues" class="jumbotron on">
			<div class="container">
				<h2>Got Issues or Suggestions?</h2>
				<p>
					If you find any issues with this site or simply want to make a
					suggestion, you can create an issue on the <a
						href="https://github.com/kruser/pitchfx-site/issues"
						target="_blank">GitHub project page</a>.
				</p>
				<p>Be sure to search first to make sure your issue doesn't
					already exist. If it does, feel free to comment on the existing
					issue. I'm more likely to prioritize an issue with lots and lots of
					comments.</p>
			</div>
		</div>
		<div id="ryan" class="jumbotron off">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4 col-xs-12">
						<img
							src="http://1.gravatar.com/avatar/049809472da1bf1352d2b4302d6880ab?size=400"
							class="img-rounded img-responsive">
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12">
						<h2>About the Developer</h2>
						<p>
							My name is <strong>Ryan Kruse</strong> and I'm a software
							engineer from Austin, TX. Originally from Minnesota, I'm an avid
							Twins fan. I love baseball and writing software.
						</p>
						<p>
							<a href="https://twitter.com/RyanKruse"
								class="fa fa-twitter fa-2x"></a><a
								href="http://www.linkedin.com/in/ryankruse"
								class="fa fa-linkedin fa-2x"></a><a
								href="mailto:ryan@kruseonline.net" class="fa fa-envelope fa-2x"></a><a
								href="https://github.com/kruser/" class="fa fa-github fa-2x"></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<% include includes/scripts %>
</html>