<!doctype html>
<html>
<head>
<title>PitchFX.org - Advanced Baseball Statistics</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description"
	content="Search through MLB PitchFX Data for batters or pitches back to 2010">
<meta name="author" content="Ryan Kruse">

<% include templates/css.html %>
</head>
<body ng-app="pitchfx">
	<a class="hidden-xs hidden-md" href="https://github.com/kruser/pitchfx-site" target="_blank"><img
		style="position: fixed; top: 50px; right: 0; border: 0;"
		src="https://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png"
		alt="Fork me on GitHub"></a>
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">PitchFX.org</a>
				<button ng-click="openMenu = !openMenu" type="button"
					data-toggle="collapse" data-target="#navbar-main"
					class="navbar-toggle">
					<span class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" ng-class="{'in':openMenu}"
				class="navbar-collapse collapse navbar-right">
				<ul class="nav navbar-nav">
					<li><a target="_blank" href="https://github.com/kruser/pitchfx-site/issues">Got Issues?</a></li>
				</ul>
			</div>
		</div>
	</header>
	<div ng-app="home" class="kruser-home">
		<div ng-controller="searchController" class="jumbotron on">
			<div class="container">
				<h1>
					Player Search
				</h1>
				<input ng-model="playerSelection"
						typeahead-wait-ms="200" typeahead-loading="playersLoading"
						typeahead="player as player.getFullName() for player in searchPlayers($viewValue)"
						typeahead-on-select="playerSelected()" type="text"
						placeholder="Search for a player by name" class="form-control">
			</div>
		</div>
		<div id="about" class="jumbotron off">
			<div class="container">
				<h2>About</h2>
				<p>
					Welcome to PitchFX.org, where we have a database of MLB atbat and pitch data going back to the 2010 season. 
					This site provides a way for you to view that data for any pitcher or batter based on filters you define, such as  
					<strong>pitch speed, pitch types, base-out states</strong>, and many others.
				</p>
				<p>
				    PitchFX.org is in it's infancy, but can be much, much more. Here is how you can participate:
				</p>
				<h3 class="text-primary">Ideas</h3>
				<p>
					    If you have an <strong>idea</strong> for a feature, file an issue on our <a href="https://github.com/kruser/pitchfx-site/issues">GitHub page</a>. 
					    We read every submission. If you find your idea has already been submitted, please comment and watch the issue. Issues that are generating a lot of interest will bubble to the top of the queue.
				</p>
				<h3 class="text-primary">Code</h3>
				<p>
					    If you're a <strong>developer</strong>, I invite you to look through the feature requests and implement them. PitchFX.org is built on a MEAN stack, making development
					    a lot of fun. Developers that contribute significantly
					    to the project will get visibility in the <a href="#developers">Developers</a> section.
				</p>
			</div>
		</div>
		<div id="developers" class="jumbotron on">
            <div class="container">
                <h2>The Developers</h2>
                <div class="row developer-info">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img
                            src="http://1.gravatar.com/avatar/049809472da1bf1352d2b4302d6880ab?size=400"
                            class="img-circle img-responsive img-thumbnail">
                        <h3 class="text-center visible-xs">Ryan Kruse</h3>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-6">
                        <h3 class="hidden-xs">Ryan Kruse</h3>
                        <p>
                            I'm the creator of
                            PitchFX.org and a software developer from Austin, TX. Originally
                            from Minnesota, I'm an avid Twins fan. I love baseball and
                            writing software.
                        </p>
                        <p>
                            <a href="https://twitter.com/RyanKruse"
                                class="fa fa-twitter fa-2x"></a><a
                                href="http://www.linkedin.com/in/ryankruse"
                                class="fa fa-linkedin fa-2x"></a><a
                                href="mailto:ryan@kruseonline.net" class="fa fa-envelope fa-2x"></a><a
                                href="https://github.com/kruser/" class="fa fa-github fa-2x"></a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-6">
                        <img
                            src="http://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg"
                            class="img-circle img-responsive img-thumbnail">
                        <h3 class="text-center visible-xs">Your Name Here</h3>
                    </div>
                    <div class="col-md-9 col-sm-8 col-xs-6">
                        <h3 class="hidden-xs">Your Name Here</h3>
                        <p>
                            Are you a software engineer with
                            a love of baseball? Visit our <a href="https://github.com/kruser/pitchfx-site">GitHub</a> page to
                            join in. Just fork the code, implement a feature or fix a bug, and submit pull requests back to the main line. 
                            If they're good, they're going in.
                        </p>
                    </div>
                </div>
            </div>
        </div>
		<div id="data" class="jumbotron off">
			<div class="container">
				<h2>The Data</h2>
				<p>
					Using the <a href="https://github.com/kruser/atbat-mongodb"
						target="_blank">atbat-mongodb</a> project, we pull pitch and
					at-bat data from each day's baseball games and store it in our own
					MongoDB database. Data is available back to the 2010 season.
				</p>
				<p>Data from each day will be available by 6AM EST on the
					following day.</p>
			</div>
		</div>

		<div class="jumbotron on">
            <div class="container">
                <p>
                <small>
                PitchFX.org is not affiliated with MLB, MLBAM or Sportsvision, although we
                are very grateful to those organizations for their technological advancements
                that have made sites like PitchFX.org possible.
                </small>
                </p>
            </div>
        </div>
	</div>
</body>
<% include templates/scripts.html %>
</html>