<!doctype html>
<html>
<head>
    <title><%= playerInfo.name_display_first_last %>: PitchFX.org</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Advanced statistics for <%= playerInfo.name_display_first_last %>">
    <meta name="author" content="Ryan Kruse">
    
    <% include templates/css.html %>
</head>
<body ng-app="pitchfx">
	<header class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">PitchFX.org (beta)</a>
				<button ng-click="openMenu = !openMenu" type="button"
					data-toggle="collapse" data-target="#navbar-main"
					class="navbar-toggle">
					<span class="icon-bar"></span><span class="icon-bar"></span><span
						class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" ng-class="{'in':openMenu}"
				class="navbar-collapse collapse navbar-right">
				<form ng-controller="searchController"
					class="navbar-form navbar-left">
					<div class="form-group">
						<input ng-model="playerSelection" typeahead-wait-ms="200"
							typeahead-loading="playersLoading"
							typeahead="player as player.getFullName() for player in searchPlayers($viewValue)"
							typeahead-on-select="playerSelected()" type="text"
							placeholder="Find a player" class="form-control">
					</div>
				</form>
				<ul class="nav navbar-nav">
					<li><a href="/#about">About </a></li>
					<li><a target="_blank" href="https://github.com/kruser/pitchfx-site/issues">Got Issues?</a></li>
					<li tooltip="Follow us on Twitter" tooltip-placement="bottom"><a href="https://twitter.com/PitchFX_org" target="_blank" class="fa fa-twitter-square fa-2x"></a></li>
					<li tooltip="Share this filtered view" tooltip-placement="bottom" ng-controller="sharingController"><a ng-click="shareFilteredPage()" class="fa fa-share-square fa-2x"></a></li>
				</ul>
			</div>
		</div>
	</header>
	<br>
	<div class="container container-full">
		<div class="col-sm-4 col-md-4 col-lg-3 col-xl-3">
			<div
				style="background-image: url(http://mlb.mlb.com/images/players/525x330/<%= playerInfo.player_id %>.jpg)"
				class="player-header well well-sm">
				<div class="full">
					<div class="clearfix">
						<div class="mug-container pull-left">
							<img
								src="http://mlb.mlb.com/images/players/mugshot/ph_<%= playerInfo.player_id %>.jpg"
								class="mug img-responsive img-rounded">
						</div>
						<div class="player-header-bio pull-left">
							<h3><%= playerInfo.name_display_first_last %></h3>
							<span class="label label-default"><%= playerInfo.team_name %></span>
						</div>
					</div>
					<div>
						<%= playerInfo.primary_position_txt %> | <strong>Bats:</strong> <%= playerInfo.bats %> <strong>Throws:</strong> <%= playerInfo.throws %> | <%= playerInfo.height_feet %>'<%= playerInfo.height_inches %>", <%= playerInfo.weight %>lbs
					</div>
					<div>
						<strong>Born:</strong> <%= playerInfo.getBirthDate().format('M/d/YYYY') %> (<%= playerInfo.age %> yrs)
					</div>
					<div>
						<strong>MLB Debut:</strong> <%if (playerInfo.getMlbDebut()) {%><%= playerInfo.getMlbDebut().format('M/d/YYYY') %><%} else {%>---<%}%>, <strong>Status:</strong> <%= playerInfo.status %> 
					</div>
				</div>
			</div>
			<rk-filters player-id="<%= playerInfo.player_id %>" player-position="<%= playerInfo.primary_position %>" player-bats="<%= playerInfo.bats %>"></rk-filters>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-9 col-xl-9">
			<rk-batting-stats player-id="<%= playerInfo.player_id %>" player-position="<%= playerInfo.primary_position %>"></rk-batting-stats>
		</div>
	</div>
</body>
<% include templates/scripts.html %>
<script type="text/javascript">
var addthis_config = {
  services_exclude: 'print'
};
var addthis_share = {
  passthrough : {
    twitter: {
      via: "PitchFX_org"
    }
  }
}
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52f5d2d65d5224ca"></script>
</html>