/* @override 
	http://localhost:9000/styles/theme.css */
body {
	padding-top: 50px;
}

.avatar {
	width: 8em;
}

.container.container-full {
	padding: 0px;
}

/* @group Home Page Stuff */
.kruser-home .jumbotron {
	margin-bottom: 0;
}

.kruser-home {
	background: url('/images/ball.svg') #eee fixed;
	background-size: 100%;
}

/* Panoramas for big screens */
@media ( min-width : 480px) {
	.kruser-home .jumbotron.panorama {
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.kruser-home .jumbotron.panorama-1 {
		background-image: url('/images/panoramas/BuschStadium.jpg');
	}
	.kruser-home .jumbotron.panorama-2 {
		background-image: url('/images/panoramas/Fenway.jpg');
	}
	.kruser-home .jumbotron.panorama-3 {
		background-image: url('/images/panoramas/TargetField.jpg');
	}
	.kruser-home .jumbotron.panorama-4 {
		background-image: url('/images/panoramas/WrigleyField.jpg');
	}
	.kruser-home .jumbotron.panorama-5 {
		background-image: url('/images/panoramas/CamdonYards.jpg');
	}
	.kruser-home .jumbotron.panorama h1 {
		color: #fff;
		text-shadow: black 0.1em 0.1em 0.2em
	}
}
@media ( min-width : 768px) {
	.nav>li>a.fa {
		padding-right: 5px;
		padding-left: 5px;
	}
}

.kruser-home .jumbotron.off {
	background: rgba(255, 255, 255, .95)
}

.kruser-home a.fa {
	margin-right: .2em;
}

.kruser-home a.fa:hover {
	text-decoration: none;
}
/* @end */
.player-header {
	background-size: 100%;
}

.player-header.well {
	padding: 0px;
}

.player-header .full {
	background: rgba(255, 255, 255, .85);
	padding: .5em .75em;
}

.player-header .mug-container {
	background: #fff;
	padding: .25em;
	border-radius: 6px;
	position: relative;
}
.player-header .mug-container img.defaultAvatar {
	position: relative;
	z-index: 1;
}
.player-header .mug-container .logoBlock{
	background-color:#0C0F13;
	position: absolute;
	top: 7px;
	left: 17px;
	width: 22px;
	height: 12px;
	border-radius: 2px;
}
.STL.player-header .mug-container .logoBlock, .ARI.player-header .mug-container .logoBlock, .CIN.player-header .mug-container .logoBlock {
	background-color: #AC030F;
}
.BAL.player-header .mug-container .logoBlock{
	background-color: #F2F1FB;
}
.TEX.player-header .mug-container .logoBlock{
	background-color: #11143B;
}
.CHC.player-header .mug-container .logoBlock {
	background-color: #15206E;
}

.player-header .mug {
	width: 3.5em;
}

.player-header-bio {
	margin-left: .5em;
}

.player-header-bio h3 {
	margin: .5em 0 .1em 0;
}

.rk-batting-stats .progress {
	margin-bottom: 0px;
}

.rk-batting-stats .runners-gate {
	margin-bottom: .25em;
}

.rk-filters input.form-control {
	padding: 8px .5em;
}

#pitchSpeeds {
	height: 300px;
}

.developer-info {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 1em;
}