
<!-- build:js(app) /scripts/modules.js -->
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-cache/dist/angular-cache.js"></script>
<script src="/bower_components/moment/moment.js"></script>
<script src="/bower_components/modernizr/modernizr.js"></script>
<script src="/bower_components/heatmap.js/src/heatmap.js"></script>
<!-- endbuild -->
<script src="//code.highcharts.com/adapters/standalone-framework.js"></script>
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/highcharts-more.js"></script>
<script src="//code.highcharts.com/modules/exporting.js"></script>
<script src="//code.highcharts.com/maps/modules/data.js"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38734231-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<!-- build:js({.tmp,app}) /scripts/scripts.js -->
<script src="/scripts/pojos/Player.js"></script>
<script src="/scripts/pojos/PlayerInfo.js"></script>
<script src="/scripts/pojos/Pitch.js"></script>
<script src="/scripts/pojos/Zones.js"></script>
<script src="/scripts/pojos/Zone.js"></script>
<script src="/scripts/pojos/ZoneStat.js"></script>
<script src="/scripts/app.js"></script>
<script src="/scripts/controllers/sharingModal.js"></script>
<script src="/scripts/controllers/sharing.js"></script>
<script src="/scripts/controllers/search.js"></script>
<script src="/scripts/controllers/pitchStats.js"></script>
<script src="/scripts/controllers/filters.js"></script>
<script src="/scripts/controllers/battingStats.js"></script>
<script src="/scripts/services/stats.js"></script>
<script src="/scripts/services/player.js"></script>
<script src="/scripts/services/pitches.js"></script>
<script src="/scripts/services/filters.js"></script>
<script src="/scripts/services/charting.js"></script>
<script src="/scripts/directives/filters.js"></script>
<script src="/scripts/directives/defaultAvatar.js"></script>
<script src="/scripts/directives/battingStats.js"></script>
<script src="/scripts/directives/heatmap.js"></script>
<!-- endbuild -->