<div class="rk-filters panel panel-default">
	<div class="panel-heading clearfix"
		ng-click="filtersOpen = !filtersOpen">
		<h3 class="panel-title pull-left">Filters</h3>
		<span class="pull-right visible-xs fa"
			ng-class="{'fa-chevron-circle-down':filtersOpen, 'fa-chevron-circle-up':!filtersOpen}"></span>
	</div>
	<form class="form panel-body" ng-class="{'hidden-xs':!filtersOpen}">
		<div class="form-group">
			<label class="control-label">Date Range</label>
			<div class="row">
				<div class="col-xs-6 col-sm-12">
					<input class="form-control" ng-required type="date" placeholder="Start date" ng-model="filters.date.start">
    				<br class="hidden-xs">
				</div>
				<div class="col-xs-6 col-sm-12">
					<input class="form-control" ng-required type="date" placeholder="End date" ng-model="filters.date.end">
				</div>
			</div>
		</div>
		<div class="form-group" ng-show="playerPosition === '1'">
			<label class="control-label">Batter Hand</label>
			<div class="btn-group btn-group-sm btn-group-justified">
				<a type="button" class="btn btn-default"
					ng-model="filters.batterHand" btn-radio="''">Either</a> 
				<a type="button" class="btn btn-default" ng-model="filters.batterHand"
					btn-radio="'L'">Left</a> 
				<a type="button" class="btn btn-default"
					ng-model="filters.batterHand" " btn-radio="'R'">Right</a>
			</div>
		</div>
		<div class="form-group" ng-show="playerPosition !== '1'">
			<label class="control-label">Pitcher Hand</label>
			<div class="btn-group btn-group-sm btn-group-justified">
				<a type="button" class="btn btn-default"
					ng-model="filters.pitcherHand" btn-radio="''">Either</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.pitcherHand" " btn-radio="'L'">Left</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.pitcherHand" " btn-radio="'R'">Right</a>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Runners</label>
			<div class="btn-group btn-group-sm btn-group-justified runners-gate">
				<a type="button" class="btn btn-default"
					ng-model="filters.runners.gate" btn-radio="'OR'">Any of</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.gate" btn-radio="'AND'">All of</a>
			</div>
			<div class="btn-group btn-group-sm btn-group-justified">
				<a type="button" class="btn btn-default"
					ng-model="filters.runners.empty" btn-checkbox>Empty</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.first" btn-checkbox>1st</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.second" btn-checkbox>2nd</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.third" btn-checkbox>3rd</a>
			</div>
		</div>
		<!-- 
		<div class="form-group">
            <label class="control-label">Outs (End of At-Bat)</label>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.outs.0" btn-checkbox>0</a> 
                <a type="button" class="btn btn-default" ng-model="filters.outs.1" btn-checkbox>1</a> 
                <a type="button" class="btn btn-default" ng-model="filters.outs.2" btn-checkbox>2</a> 
                <a type="button" class="btn btn-default" ng-model="filters.outs.3" btn-checkbox>3</a> 
            </div>
        </div>
		 -->
        <div class="form-group">
            <label class="control-label">Inning</label>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.inning.1" btn-checkbox>1</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.2" btn-checkbox>2</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.3" btn-checkbox>3</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.4" btn-checkbox>4</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.5" btn-checkbox>5</a> 
            </div>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.inning.6" btn-checkbox>5</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.7" btn-checkbox>7</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.8" btn-checkbox>8</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.9" btn-checkbox>9</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.extra" btn-checkbox>Extra</a> 
            </div>
        </div>
	</form>
</div>