<div class="filterList hidden-xs bg-info">
   <div class="container">
	   <div class="text-info filterBox" ng-click="setActiveFilter(filter)" ng-class="{'last':$last, 'bg-primary':filterService.filters.name == filter.name}" ng-repeat="filter in filterService.pinnedFilters | orderBy:'name' | filter:filterService.filters.playerCard" ng-mouseover="hovering=true" ng-mouseout="hovering=false"
	       tooltip="{{filter.name}}" tooltip-placement="bottom">
	       <div class="fa fa-filter filterLabelContainer">
	           <strong class="filterLabel">{{filter.name}}</strong>
	       </div>
	       <em style="position:absolute;right:1.2em;top:.5em;"><small>({{getCardAbbreviation(filter)}})</small></em>
	       <i class="fa fa-times" ng-show="hovering" ng-click="deleteFilter(filter)" style="position:absolute;right:.25em;top:.25em;"></i>
	   </div> 
   </div>
</div>