<div class="rk-filters panel panel-default">
	<div class="panel-heading clearfix"
		ng-click="filtersOpen = !filtersOpen">
		<h3 class="panel-title pull-left">Filter At-Bats</h3>
		<span class="pull-right visible-xs fa"
			ng-class="{'fa-chevron-circle-down':filtersOpen, 'fa-chevron-circle-up':!filtersOpen}"></span>
	</div>
	<form class="form panel-body" ng-class="{'hidden-xs':!filtersOpen}">
	    <div class="form-group">
            <label class="control-label">Player card</label>
            <div 
                tooltip="When Batter is selected, all stats are from the batter's perspective. When Pitcher is selected, all stats are shown from the pitcher's perspective, i.e. opposing batters."
                class="btn-group btn-group-sm btn-group-justified">
                <a type="button" 
                    class="btn btn-primary" ng-model="filters.playerCard" btn-radio="'batter'">Batter</a> 
                <a type="button"
                    class="btn btn-primary" ng-model="filters.playerCard" btn-radio="'pitcher'">Pitcher</a> 
            </div>
        </div>
	    <div class="form-group">
            <label class="control-label">Game Type</label>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.gameType.S" btn-checkbox>Spring</a> 
                <a type="button" class="btn btn-default" ng-model="filters.gameType.R" btn-checkbox>Season</a> 
                <a type="button" class="btn btn-default" ng-model="filters.gameType.P" btn-checkbox>Playoffs</a> 
            </div>
        </div>
		<div class="form-group">
			<label class="control-label">Date Range</label>
			<div class="row">
				<div class="col-xs-6 col-sm-12">
					<input class="form-control" ng-if="dateInputSupported" ng-required type="date" placeholder="Start date" ng-model="filters.date.start" min="2010-02-01"/>
					<input class="form-control" ng-if="!dateInputSupported" ng-required show-weeks="false" type="text" placeholder="Start date" datepicker-popup="MM/dd/yyyy" ng-model="filters.date.start" min="'01/01/2010'"/>
    				<br class="hidden-xs">
				</div>
				<div class="col-xs-6 col-sm-12">
					<input class="form-control" ng-if="dateInputSupported" ng-required type="date" placeholder="End date" ng-model="filters.date.end" min="filters.date.start"/>
					<input class="form-control" ng-if="!dateInputSupported" ng-required show-weeks="false" type="text" placeholder="End date" datepicker-popup="MM/dd/yyyy" ng-model="filters.date.end" min="filters.date.start"/>
				</div>
			</div>
		</div>
		<div class="form-group" ng-show="playerPosition === '1' || playerBats === 'S'">
			<label class="control-label">Batter Hand</label>
			<div class="btn-group btn-group-sm btn-group-justified">
				<a type="button" class="btn btn-default"
					ng-model="filters.batterHand" btn-radio="''">Either</a> 
				<a type="button" class="btn btn-default" ng-model="filters.batterHand"
					btn-radio="'L'">Left</a> 
				<a type="button" class="btn btn-default"
					ng-model="filters.batterHand" btn-radio="'R'">Right</a>
			</div>
		</div>
		<div class="form-group" ng-show="playerPosition !== '1'">
			<label class="control-label">Pitcher Hand</label>
			<div class="btn-group btn-group-sm btn-group-justified">
				<a type="button" class="btn btn-default"
					ng-model="filters.pitcherHand" btn-radio="''">Either</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.pitcherHand" btn-radio="'L'">Left</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.pitcherHand" btn-radio="'R'">Right</a>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label">Runners</label>
			<div class="btn-group btn-group-sm btn-group-justified runners-gate">
				<a type="button" class="btn btn-default"
					ng-model="filters.runners.gate" btn-radio="'OR'">Any of</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.gate" btn-radio="'AND'">All of</a>
			</div>
			<div class="btn-group btn-group-sm btn-group-justified">
				<a type="button" class="btn btn-default"
					ng-model="filters.runners.empty" btn-checkbox>Empty</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.first" btn-checkbox>1st</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.second" btn-checkbox>2nd</a> <a
					type="button" class="btn btn-default"
					ng-model="filters.runners.third" btn-checkbox>3rd</a>
			</div>
		</div>
		<div class="form-group">
            <label class="control-label">Outs</label>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.outs.0" btn-checkbox>0</a> 
                <a type="button" class="btn btn-default" ng-model="filters.outs.1" btn-checkbox>1</a> 
                <a type="button" class="btn btn-default" ng-model="filters.outs.2" btn-checkbox>2</a> 
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" tooltip="Filter at-bats by the end number of balls in the at-bat">Balls</label>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.balls.0" btn-checkbox>0</a> 
                <a type="button" class="btn btn-default" ng-model="filters.balls.1" btn-checkbox>1</a> 
                <a type="button" class="btn btn-default" ng-model="filters.balls.2" btn-checkbox>2</a> 
                <a type="button" class="btn btn-default" ng-model="filters.balls.3" btn-checkbox>3</a> 
                <a type="button" class="btn btn-default" ng-model="filters.balls.4" btn-checkbox>4</a> 
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" tooltip="Filter atbats by the end number of strikes">Strikes</label>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.strikes.0" btn-checkbox>0</a> 
                <a type="button" class="btn btn-default" ng-model="filters.strikes.1" btn-checkbox>1</a> 
                <a type="button" class="btn btn-default" ng-model="filters.strikes.2" btn-checkbox>2</a> 
                <a type="button" class="btn btn-default" ng-model="filters.strikes.3" btn-checkbox>3</a> 
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Inning</label>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.inning.1" btn-checkbox>1</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.2" btn-checkbox>2</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.3" btn-checkbox>3</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.4" btn-checkbox>4</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.5" btn-checkbox>5</a> 
            </div>
            <div class="btn-group btn-group-sm btn-group-justified">
                <a type="button" class="btn btn-default" ng-model="filters.inning.6" btn-checkbox>5</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.7" btn-checkbox>7</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.8" btn-checkbox>8</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.9" btn-checkbox>9</a> 
                <a type="button" class="btn btn-default" ng-model="filters.inning.extra" btn-checkbox>Extra</a> 
            </div>
        </div>
	</form>
</div>