<div class="rk-pitches">
	<div class="text-center" ng-show="loading">
		<br> <br> <i class="fa fa-spinner fa-spin fa-4x"></i>
		<h3>Loading pitches...</h3>
	</div>
	<div ng-show="!loading && pitchCount == 0" class="alert alert-danger jumbotron" style="margin-top:1em;">
       <strong>Hold up!</strong> There are no pitches available for this player based on your filter. Try adjusting your dates or other criteria. 
    </div>
    <div ng-hide="loading || pitchCount == 0">
		<div class="row">
			<div class="col-md-12 table-responsive">
				<table
					class="pitch-table table table-condensed table-striped table-hover">
					<thead>
						<tr>
							<th></th>
							<th class="text-center" tooltip="The type of pitch" tooltip-append-to-body="true">Pitch</th>
							<th class="text-center" tooltip="Total count of these pitches"
								tooltip-append-to-body="true">#</th>
							<th class="text-center" tooltip="Called a ball" tooltip-append-to-body="true">B</th>
							<th class="text-center" tooltip="A strike by any means" tooltip-append-to-body="true">K</th>
							<th class="text-center" tooltip="Swing" tooltip-append-to-body="true">Swing</th>
							<th class="text-center" tooltip="Swing and a miss" tooltip-append-to-body="true">Whiff</th>
							<th class="text-center" tooltip="Pitches resulting in a foul ball"
								tooltip-append-to-body="true">Foul</th>
							<th class="text-center" tooltip="Pitches hit in play, not necessarily a hit"
								tooltip-append-to-body="true">BIP</th>
							<th class="text-center" tooltip="Pitches resulting in a hit"
								tooltip-append-to-body="true">Hit</th>
							<th class="text-center" tooltip="Pitches hit in play, resulting in an out"
								tooltip-append-to-body="true">BIP-Out</th>
							<th class="text-center"
								tooltip="Pitches resulting in a ground ball, no matter the outcome"
								tooltip-append-to-body="true">GB</th>
							<th class="text-center" 
								tooltip="Pitches resulting in a line drive, no matter the outcome"
								tooltip-append-to-body="true">LD</th>
							<th class="text-center" 
								tooltip="Pitches resulting in a fly ball, no matter the outcome"
								tooltip-append-to-body="true">FB</th>
							<th class="text-center" 
								tooltip="Pitches resulting in a pop up, no matter the outcome"
								tooltip-append-to-body="true">PU</th>
						</tr>
					</thead>
					<tr style="cursor: pointer"
						ng-click="togglePitchSelection(row.pitchCode)"
						ng-repeat="row in pitchTypes | orderBy:'count':true | limitTo:8">
						<td><i class="fa fa-fw"
							ng-class="{'fa-check-square-o': pitchFilters.pitchType[row.pitchCode], 'fa-square-o':!pitchFilters.pitchType[row.pitchCode]}"></i></td>
						<td>{{row.displayName}}</td>
						<td class="text-right">{{row.count}}</td>
						<td class="text-right" tooltip="{{row.ball}}" tooltip-append-to-body="true">{{row.ball/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.strike}}" tooltip-append-to-body="true">{{row.strike/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.swing}}" tooltip-append-to-body="true">{{row.swing/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.whiff}}" tooltip-append-to-body="true">{{row.whiff/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.foul}}" tooltip-append-to-body="true">{{row.foul/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.bip}}" tooltip-append-to-body="true">{{row.bip/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.hit}}" tooltip-append-to-body="true">{{row.hit/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.out}}" tooltip-append-to-body="true">{{row.out/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.grounder}}" tooltip-append-to-body="true">{{row.grounder/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.liner}}" tooltip-append-to-body="true">{{row.liner/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.flyball}}" tooltip-append-to-body="true">{{row.flyball/row.count*100|number:1}}%</td>
						<td class="text-right" tooltip="{{row.popup}}" tooltip-append-to-body="true">{{row.popup/row.count*100|number:1}}%</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
		    <div class="col-sm-4 col-lg-3">
				<ul class="nav nav-pills nav-stacked">
					<li ng-repeat="zoneChart in model.zoneCharts" ng-class="{'active':model.selectedZoneChart == zoneChart}"><a href="" ng-click="model.selectedZoneChart = zoneChart">{{zoneChart.title}}</a></li>
		        </ul>
		    </div>
		    <div class="col-sm-8 col-lg-9">
		       <div class="panel panel-info">
		          <heatmap points="model.zonePoints" max="model.zoneMax" chart-name="model.selectedZoneChart.title"></heatmap>
	           </div>
		    </div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Pitch Speeds</h3>
					</div>
					<div class="panel-body">
						<div id="pitchSpeeds"></div>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>