<div class="rk-pitches">
	<div class="text-center" ng-show="loading">
		<br> <br> <i class="fa fa-spinner fa-spin fa-4x"></i>
		<h3>Loading pitches...</h3>
	</div>
	<div ng-hide="loading">
        <div class="panel panel-default" style="margin-top:.25em;">
          <div class="panel-body row">
            <div class="col-sm-6">
	            <label class="control-label">Balls</label>
	            <div class="btn-group btn-group-sm btn-group-justified">
	                <a type="button" class="btn btn-default" ng-model="filters.balls.0" btn-checkbox>0</a> 
	                <a type="button" class="btn btn-default" ng-model="filters.balls.1" btn-checkbox>1</a> 
	                <a type="button" class="btn btn-default" ng-model="filters.balls.2" btn-checkbox>2</a> 
	                <a type="button" class="btn btn-default" ng-model="filters.balls.3" btn-checkbox>3</a> 
	            </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Strikes</label>
                <div class="btn-group btn-group-sm btn-group-justified">
                    <a type="button" class="btn btn-default" ng-model="filters.strikes.0" btn-checkbox>0</a> 
                    <a type="button" class="btn btn-default" ng-model="filters.strikes.1" btn-checkbox>1</a> 
                    <a type="button" class="btn btn-default" ng-model="filters.strikes.2" btn-checkbox>2</a> 
                </div>
            </div>
          </div>
        </div>
		<div class="row">
			<div class="col-md-12 table-responsive">
				<table
					class="pitch-table table table-condensed table-striped">
					<thead>
						<tr>
							<th tooltip="The type of pitch" tooltip-append-to-body="true">Pitch</th>
							<th tooltip="Total count of these pitches"
								tooltip-append-to-body="true">#</th>
							<th tooltip="Called a ball" tooltip-append-to-body="true">B</th>
							<th tooltip="A strike by any means" tooltip-append-to-body="true">K</th>
							<th tooltip="Swing" tooltip-append-to-body="true">Swing</th>
							<th tooltip="Swing and a miss" tooltip-append-to-body="true">Whiff</th>
							<th tooltip="Pitches resulting in a foul ball"
								tooltip-append-to-body="true">Foul</th>
							<th tooltip="Pitches hit in play, not necessarily a hit"
								tooltip-append-to-body="true">BIP</th>
							<th tooltip="Pitches resulting in a hit"
								tooltip-append-to-body="true">Hit</th>
							<th tooltip="Pitches hit in play, resulting in an out"
								tooltip-append-to-body="true">BIP-Out</th>
							<th
								tooltip="Pitches resulting in a ground ball, no matter the outcome"
								tooltip-append-to-body="true">GB</th>
							<th
								tooltip="Pitches resulting in a line drive, no matter the outcome"
								tooltip-append-to-body="true">LD</th>
							<th
								tooltip="Pitches resulting in a fly ball, no matter the outcome"
								tooltip-append-to-body="true">FB</th>
							<th tooltip="Pitches resulting in a pop up, no matter the outcome"
								tooltip-append-to-body="true">PU</th>
						</tr>
					</thead>
					<tr
						ng-repeat="row in pitchTypes | orderBy:'count':true | limitTo:8">
						<td>{{row.displayName}}</td>
						<td>{{row.count}}</td>
						<td tooltip="{{row.ball}}" tooltip-append-to-body="true">{{row.ball/row.count*100|number:1}}%</td>
						<td tooltip="{{row.strike}}" tooltip-append-to-body="true">{{row.strike/row.count*100|number:1}}%</td> 
						<td tooltip="{{row.swing}}" tooltip-append-to-body="true">{{row.swing/row.count*100|number:1}}%</td>
						<td tooltip="{{row.whiff}}" tooltip-append-to-body="true">{{row.whiff/row.count*100|number:1}}%</td>
						<td tooltip="{{row.foul}}" tooltip-append-to-body="true">{{row.foul/row.count*100|number:1}}%</td>
						<td tooltip="{{row.bip}}" tooltip-append-to-body="true">{{row.bip/row.count*100|number:1}}%</td>
						<td tooltip="{{row.hit}}" tooltip-append-to-body="true">{{row.hit/row.count*100|number:1}}%</td>
						<td tooltip="{{row.out}}" tooltip-append-to-body="true">{{row.out/row.count*100|number:1}}%</td>
						<td tooltip="{{row.grounder}}" tooltip-append-to-body="true">{{row.grounder/row.count*100|number:1}}%</td>
						<td tooltip="{{row.liner}}" tooltip-append-to-body="true">{{row.liner/row.count*100|number:1}}%</td>
						<td tooltip="{{row.flyball}}" tooltip-append-to-body="true">{{row.flyball/row.count*100|number:1}}%</td>
						<td tooltip="{{row.popup}}" tooltip-append-to-body="true">{{row.popup/row.count*100|number:1}}%</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="row">
		  <div class="col-md-12">
		      <div id="pitchSpeeds"></div>
		  </div>
		</div>
	</div>
</div>