<div class="well well-sm clearfix" style="cursor:pointer;margin-bottom:.5em" ng-click="openPlayer()">
	<div class="img-rounded pull-left hidden-xs" style="height: 3em; width: 3em; overflow: hidden; position: relative;">
		<img style="width: 2.5em; position: absolute; top: -.8em;" default-avatar ng-src="http://mlb.mlb.com/images/players/mugshot/ph_{{player.id}}.jpg"></img>
	</div>
	<h5 class="pull-left">
			{{player.pos}} <span class="hidden-xs">{{player.first}}</span>
			{{player.last}}
	</h5>
</div>