<div class="container">
	<div class="row animated slideInLeft" ng-hide="currentRoster">
	    <div ng-repeat="team in teams" class="col-lg-2 col-md-3 col-sm-4 col-xs-6" style="padding-bottom: .5em;">
	        <button type="button" class="btn btn-default btn-block default" ng-click="openTeam(team)">
	            <h4 class="text-center">{{team.display}}</h4>
	        </button>
	    </div>
	</div>
	<div class="animated slideInRight" ng-show="currentRoster">
	    <div class="clearfix">
		  <button type="button" class="btn btn-info fa fa-arrow-left pull-right" ng-click="showTeams()">&nbsp;Back to All Teams</button>
	    </div>
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h3 style="margin-top:.25em">Select a Batter<span class="hidden-xs"> from {{team}}</span></h3>
				<div class="row">
				    <div ng-repeat="player in currentRoster | filter:isPositionPlayer(player) | orderBy:'last'" class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
	    			    <player-button player="player">
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
			    <h3 style="margin-top:.25em;">Select a Pitcher<span class="hidden-xs"> from {{team}}</span></h3>
				<div class="row">
				    <div ng-repeat="player in currentRoster | filter:isPitcher(player) | orderBy:'last'" class="col-lg-6 col-md-6 col-sm-8 col-xs-6">
	                    <player-button player="player">
	                </div>
				</div>
		</div>
		</div>
	</div>
</div>