header.navbar.navbar-default.navbar-fixed-top
  div.container
    div.navbar-header
      a.navbar-brand PitchFX Site
      button.navbar-toggle(ng-click='openMenu = !openMenu' type='button' data-toggle='collapse' data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    div#navbar-main.navbar-collapse.collapse.pull-right(ng-class="{'in':openMenu}")
      ul.nav.navbar-nav
        li
          a(href='/#about') About 
        li
          a(href='/#issues') Got Issues?