<div class="kruser-home">
	<div class="jumbotron off">
		<div class="container">
			<h1>PitchFX Search</h1>
			<div class="row">
				<div class="col-md-6 form-group">
					<input class="form-control" 
					ng-model="batterSelection"
					typeahead-wait-ms="200" typeahead-loading="battersLoading" 
					typeahead="batter as batter.getFullName() for batter in searchBatters($viewValue)" 
					typeahead-on-select="batterSelected()"
					type="text" placeholder="Search for batters"></input>
				</div>
				<div class="col-md-6 form-group">
					<input class="form-control" 
					ng-model="pitcherSelection"
					typeahead-wait-ms="200" typeahead-loading="pitchersLoading" 
					typeahead="pitcher as pitcher.getFullName() for pitcher in searchPitchers($viewValue)" 
					typeahead-on-select="pitcherSelected()"
					type="text" placeholder="Search for pitchers"></input>
				</div>
			</div>
		</div>
	</div>
	<div id="what" class="jumbotron on">
		<div class="container">
			<h2>Research, Investigate, Learn, Report</h2>
			<p>
				We allow you to search through any player's pitches and at-bats with
				quick facets on things like <strong>batted ball angles,
					pitch speed, pitch types, hit type</strong>, and many others.
			</p>
		</div>
	</div>
	<div id="how" class="jumbotron off">
		<div class="container">
			<h2>The Data</h2>
			<p>
				Using the <a href="https://github.com/kruser/atbat-mongodb"
					target="_blank">atbat-mongodb</a> project, we pull pitch and at-bat
				data from each day's baseball games and store it in our own MongoDB
				database. This site differs from other PitchFX search sites in that
				it front-loads most of the data for a player into your browser and
				lets your browser do the work. This makes facetting much, much
				quicker.
			</p>
			<p>Data from each day will be available by 6AM EST on the
				following day.</p>
		</div>
	</div>
	<div id="issues" class="jumbotron on">
		<div class="container">
			<h2>Got Problems or Suggestions?</h2>
			<p>
				If you find any issues with this site or simply want to make a
				suggestion, you can create an issue on the <a
					href="https://github.com/kruser/pitchfx-site/issues"
					target="_blank">GitHub project page</a>.
			</p>
			<p>Be sure to search first to make sure your issue doesn't
				already exist. If it does, feel free to comment on the existing
				issue. I'm more likely to prioritize an issue with lots and lots of
				comments.</p>
		</div>
	</div>
	<div id="who" class="jumbotron off">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<img alt=""
						src="http://1.gravatar.com/avatar/049809472da1bf1352d2b4302d6880ab?size=400"
						class="img-rounded img-responsive"></img>
				</div>
				<div class="col-md-9 col-sm-8 col-xs-12">
					<h2>About Me</h2>
					<p>
						My name is <strong>Ryan Kruse</strong> and I'm a software engineer
						from Austin, TX. Originally from Minnesota, I'm an avid Twins fan.
						I love baseball and writing software.
					</p>
					<p>
						<a class="icon-twitter icon-2x"
							href="https://twitter.com/RyanKruse"></a> <a
							class="icon-linkedin icon-2x"
							href="http://www.linkedin.com/in/ryankruse/"></a> 
							<a class="icon-envelope icon-2x" href="mailto:ryan@kruseonline.net"></a>
							<a class="icon-github icon-2x" href="https://github.com/kruser/"></a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>