extends layout

block content
  header.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        a.navbar-brand PitchFX Site
        button.navbar-toggle(ng-click='openMenu = !openMenu' type='button' data-toggle='collapse' data-target='#navbar-main')
          span.icon-bar
          span.icon-bar
          span.icon-bar
      div#navbar-main.navbar-collapse.collapse.navbar-right(ng-class="{'in':openMenu}")
        ul.nav.navbar-nav
          li
            a(href='/#issues') Got Issues?
  div.kruser-home(ng-app='home')
    div.jumbotron.off(ng-controller='searchController')
      div.container
        h1 PitchFX Search
          input.form-control(ng-model='playerSelection' typeahead-wait-ms='200' typeahead-loading='playersLoading' 
            typeahead='player as player.getFullName() for player in searchPlayers($viewValue)' 
            typeahead-on-select='playerSelected()'
            type='text' placeholder='Search for a player by name')
    div#about.jumbotron.on
      div.container
        h2 Research, Learn, Report
        p 
          |We allow you to search through any player's pitches and at-bats with quick facets on things like 
          strong batted ball angles, pitch speed, pitch types, hit type
          |, and many others.
    div#how.jumbotron.off
      div.container
        h2 The Data
        p
          |Using the 
          a(href='https://github.com/kruser/atbat-mongodb' target='_blank') atbat-mongodb
          |  project, we pull pitch and at-bat data from each day's baseball games and store
          | it in our own MongoDB database. 
        p
          |Data from each day will be available by 6AM EST on the following day.
    div#issues.jumbotron.on
      div.container
        h2 Got Issues or Suggestions?
        p
          |If you find any issues with this site or simply want to make a suggestion, you can
          | create an issue on the 
          a(href='https://github.com/kruser/pitchfx-site/issues' target='_blank') GitHub project page
          |.
        p
          |Be sure to search first to make sure your issue doesn't already exist. If it does, feel
          | free to comment on the existing issue. I'm more likely to prioritize an issue with lots
          | and lots of comments.
    div#ryan.jumbotron.off
      div.container
        div.row
          div.col-md-3.col-sm-4.col-xs-12
            img.img-rounded.img-responsive(src='http://1.gravatar.com/avatar/049809472da1bf1352d2b4302d6880ab?size=400')
          div.col-md-9.col-sm-8.col-xs-12
            h2 About the Developer
            p My name is 
              strong Ryan Kruse
              |  and I'm a software engineer from Austin, TX. Originally from Minnesota, I'm an
              | avid Twins fan. I love baseball and writing software.
            p
              a.fa.fa-twitter.fa-2x(href='https://twitter.com/RyanKruse')
              a.fa.fa-linkedin.fa-2x(href='http://www.linkedin.com/in/ryankruse')
              a.fa.fa-envelope.fa-2x(href='mailto:ryan@kruseonline.net')
              a.fa.fa-github.fa-2x(href='https://github.com/kruser/')