doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/theme.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    
  body
    include includes/header
    block content
  
  script(src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js")
  script(src="http://code.angularjs.org/1.2.0-rc.3/angular-touch.min.js")
  script(src="/lib/ui-bootstrap-tpls-0.6.0-SNAPSHOT.min.js")
  script(src="/lib/moment.min.js")

  script(src="/javascripts/pojos/Player.js")
  script(src="/javascripts/pojos/PlayerInfo.js")
  script(src="/javascripts/services/playerService.js")
  script(src="/javascripts/controllers/searchController.js")
  script(src="/javascripts/entry.js")