<div class="rk-batting-stats row">
	<div class="col-md-4"><div class="well">filters panel</div></div>
	<div class="col-md-8">
		<div ng-show="loading">Loading....</div>
		<h2>{{battingAverage | number:3 }} BA</h2>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar"
				style="width: {{battingAverage*100}}%">
			</div>
		</div>
		<h2>{{wOBA | number:3 }} wOBA</h2>
		<div class="progress">
			<div class="progress-bar progress-bar-info" role="progressbar"
				style="width: {{wOBA*100}}%">
			</div>
		</div>
	</div>
</div>