<div class="rk-pitches">
	<div class="text-center" ng-show="loading">
		<br> <br> <i class="fa fa-spinner fa-spin fa-4x"></i>
		<h3>Loading pitches...</h3>
	</div>
	<div ng-hide="loading">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>Pitch</th>
					<th>#</th>
					<th>Swings</th>
					<th>Whiffs</th>
					<th>Fouls</th>
					<th>In Play</th>
					<th>Hit</th>
					<th>Out</th>
					<th>Grounder</th>
					<th>Liner</th>
					<th>Fly Ball</th>
				</tr>
			</thead>
		</table>
	</div>
</div>